<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.andrena.eclipse.filesearch.ui.SearchFilenameRecursive"
            name="Search Filename recursive">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.andrena.eclipse.filesearch.ui.SearchFilenameRecursive"
               label="Search Filename recursive"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                  </with>
                  <with
                        variable="selection">
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                        </adapt>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.andrena.eclipse.filesearch.ui.SearchFilenameRecursive"
            commandId="de.andrena.eclipse.filesearch.ui.SearchFilenameRecursive">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.andrena.eclipse.filesearch.ui.SearchFilenameRecursiveResultView"
            id="de.andrena.eclipse.filesearch.ui.SearchFilenameRecursiveResultView"
            name="Recursive Search Result"
            restorable="true">
      </view>
   </extension>

</plugin>
